<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <!-- Bootstrap min.css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!-- w3school awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Style css -->
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <!-- navbar -->
    <nav>
        <input type="checkbox" id="check">
        <label for="check">
            <i class="bi bi-border-width" id="btn"></i>
            <i class="bi bi-x-lg" id="cancel"></i>
        </label>
        <i class="bi bi-apple" id="icon"></i>
       <ul>
        <li><a href="">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#service">Service</a></li>
        <li><a href="#experience">Experiences</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#contact">Contact</a></li>
       </ul>
      
    </nav>
    <!-- navbar -->
    <!-- header -->
    <header>
        <section>
         
                <div class="container-header">
                     
                    <div class="header-text">
                        <h1>I am <span class="auto-input"></span></h1>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.<br> Porro sed voluptatem incidunt,  </p>
                        <a href="" class="btn btn-outline-success" onclick="alert('Please Call Me +959454238579')">content me</a>
                        <a href="./cv-form.html" class="cv-form" onclick="alert('ARE YOU SURE TO SEE MY CV FORM')">Download CV</a>
                    </div>  
                    <div class="header-profile">
                        <img src="../image/logo.png" alt="">
                    </div>
                </div>
        </section>
    </header>
    <!-- header -->
    <!-- About us -->
    <section id="about">
        <div class="container-fluid">
            <div class="about-image">
                <img src="../image/photo.png" alt="">
            </div>
            <div class="about-para">
                <h3>Developer and Designer</h2>
                <p>I am a backend Developer. I can provide clean code and pixel perfect design.I also make the website & more intrreactive with web animations.
                    I am very interesting backend and frontend design. So, I am very study hard-time.Shall I believe me,I can use many frontend and backend design.
                    Do you see my webdesign.This is very cleaning code and beautiful Web page.
                </p>
                <a href="">learn More</a>
            </div>
        </div>
    </section>
    <!-- Service -->
    <section id="service">
      <div class="text-header">
        <h2>MY SERVICES</h2>
      </div>
        <div class="container-services">
            <div class="first-service">
                <i class="bi bi-code-square"><p class="para">frontend</p></i>
                <i class="bi bi-laptop"><p class="para">HP Computer</p></i>
                <i class="bi bi-bootstrap-fill"><p class="para">Bootstrap</p></i>
                <i class="bi bi-filetype-php"><p class="para">PHP</p></i>
            </div>
            <div class="second-service">
                <i class="bi bi-tools"><p class="para">More Tools</p></i>
                <i class="bi bi-instagram"><p class="para">Instagram</p></i>
                <i class="bi bi-facebook"><p class="para">Facebook</p></i>
                <i class="bi bi-wordpress"><p class="para">Wordpress</p></i>
            </div>
            
        </div>
    </section>
    <!-- Service -->
    <!-- Experience -->
    <section id="experience">
        <div class="text-header">
            <h2>MY EXPERIENCES</h2>
          </div>
       
        <div class="container-experience">
            <div class="experience">
                <h5>2020 - 2021</h5>
                <h4>Graphic Design</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Dolores quo omnis nesciunt molestias blanditiis natus aperiam animi error, perferendis aliquid?</p>
               </div>
               <div class="experience">
                <h5>2021 - 2022</h5>
                <h4>English Language</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Dolores quo omnis nesciunt molestias blanditiis natus aperiam animi error, perferendis aliquid?</p>
               </div>
         </div>
        </div>
        <div class="menu-experience">
            <div class="experience">
                <h5>2020 - 2021</h5>
                <h4>Frontend</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Dolores quo omnis nesciunt molestias blanditiis natus aperiam animi error, perferendis aliquid?</p>
               </div>
               <div class="experience">
                <h5>2021 - 2022</h5>
                <h4>Backend</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quo omnis nesciunt molestias blanditiis natus aperiam animi error, perferendis aliquid?</p>
               </div>
         </div>
        </div>
    </section>
    <!-- My Skill -->
    <div class="container-skill">
        <div class="text-header">
            <h2>MY SKILLS</h2>
          </div>
      
        <div class="menu-skill">
            <div class="skill-image">
                <img src="./image/undraw.png" alt="">
             </div>
            <div class="icons">
                <i class="bi bi-filetype-html"></i>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" aria-label="Success example" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">70%</div>
                  </div>
                  <i class="bi bi-filetype-css"></i>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" aria-label="Success example" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">60%</div>
                  </div>
                  <i class="bi bi-filetype-js"></i>
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-label="Success example" style="width: 40%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">40%</div>
                  </div>
                  <i class="bi bi-bootstrap"></i>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" aria-label="Success example" style="width: 65%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">65%</div>
                  </div>
                  <i class="bi bi-filetype-php"></i>
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-label="Success example" style="width: 45%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">45%</div>
                  </div>
                  <i class="bi bi-wordpress"></i>
                  <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" aria-label="Success example" style="width: 30%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">30%</div>
                  </div>
            </div>
        </div>
    </div>
    <!-- portfolio Gallery -->
    <section id="portfolio">
        <div class="text-header">
            <h2>PORTFOLIO GALLERY</h2>
          </div>
     
        <div class="container-gallery">
            <div class="menu-gallery">
                <a href="#" class="btn" data-filter="all">All</a>
                <a href="#" class="btn" data-filter="code">Code</a>
                <a href="#" class="btn" data-filter="design">Design</a>
                <a href="#" class="btn" data-filter="graphic">Graphic</a>
             </div>
             <div class="box" id="store-items">
    
                    <div class="store-item code">
                        <img src="../image/code-1.jfif" alt="" class="img-1">
                    </div>
                    <div class="store-item code">
                        <img src="../image/code.jfif" alt="" class="img-1">
                    </div>
                    <div class="store-item code">
                        <img src="../image/code-3.jpg" alt="" class="img-1">
                    </div>
                    <div class="store-item design">
                        <img src="../image/design-6.jpg" alt="" class="img-1">
                    </div>
                    <div class="store-item design">
                        <img src="../image/design-2.jfif" alt="" class="img-1">
                    </div>
                    <div class="store-item design">
                        <img src="../image/design-3.jfif" alt="" class="img-1">
                    </div>
                    <div class="store-item design">
                        <img src="../image/design-4.jfif" alt="" class="img-1">
                    </div>
                    <div class="store-item yangon">
                        <img src="../image/design-5.jfif" alt="" class="img-1">
                    </div>
                    <div class="store-item graphic">
                        <img src="../image/design.jpg" alt="" class="img-1">
                    </div>
                    <div class="store-item graphic">
                        <img src="../image/graphic-1.jpg" alt="" class="img-1">
                    </div>
                    <div class="store-item graphic">
                        <img src="../image/graphic-2.jpg" alt="" class="img-1">
                    </div>
                    <div class="store-item graphic">
                        <img src="../image/graphic.jpg" alt="" class="img-1">
                    </div>
    
             </div>
        </div>
    </section>
    <!-- Gallery -->
    <!-- slider -->
<section class="container-community">
    <h1 class="white-text">MY COMMUNITY</h1>
    <div class="container-slider">
        <div class="card-slider">
            <div class="layer-1">
                <img src="../image/nay-aung.jpg">
            </div>
            <div class="content">
                <h3>Nay Gyi</h3>
                <p>FRONTEND Design</p>
            </div>
            <div class="layer-2"></div>
            <div class="layer-3"></div>
        </div>
        <div class="card-slider">
            <div class="layer-1">
                <img src="../image/justin.png">
            </div>
            <div class="content">
                <h3>Aung Gyi</h3>
                <p>BACKEND Design</p>
            </div>
            <div class="layer-2"></div>
            <div class="layer-3"></div>
        </div>
        <div class="card-slider">
            <div class="layer-1">
                <img src="../image/nay-aung.jpg">
            </div>
            <div class="content">
                <h3>Aye Aye</h3>
                <p>UI/UX Design</p>
            </div>
            <div class="layer-2"></div>
            <div class="layer-3"></div>
        </div>
    </div>    
</section> 

<!-- content -->
<section class="contact" id="contact">
    <h1 class="white-text">CONTACT US</h1>
    <div class="container-contact">
        <div class="undraw">
            <img src="../image/undraw-1.png" alt="">
        </div>
        <div class="contact-text">
           <div id="app">
            <!-- <input type="text"v-on:keyup.e="change"><br></br> -->
            {{name}}<br>
            <span class="text-design">NAME :</span><input type="text" v-model="name" size="30%" placeholder="Enter your name" class="text">
             <br>
            {{email}}
            <br>
            <span class="text-design">EMAIL :</span><input type="text" v-model="email" placeholder="Enter your email" size="30%" class="text">
            <br>
            {{address}}
            <br>
            <span class="text-design">ADDRESS :</span><input type="text" v-model="address" size="30%" placeholder="Enter your name" class="text">
             <br>
             {{password}}<br>
             <span class="text-design">PASSWORD :</span><input type="text" v-model="password" size="30%" placeholder="Enter your name" class="text">
              <br>
              {{comfirm_password}}<br>
              <span>COMFIRM PASSWORD : </span><input type="text" v-model="comfirm_password" size="30%" placeholder="Enter your name" class="text">
               <br>
               <br>
           </div>
           <a href="" class="contact-para" onclick="alert('ARE YOU SURE LOGIN FORM')">SUBMIT</a>
        </div>
    </div>
  
</section>
<div class="google-map">
    <h2 class="white-text">CAN YOU FIND YOUR LOCATION!!</h2>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d477.4420629022251!2d96.20440216326392!3d16.79972009607382!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30c1ed210a202d45%3A0x7aac2c2c362f144f!2sPMG%2020%20Liter%20Agent%20(Tharketa)!5e0!3m2!1sen!2smm!4v1659807121089!5m2!1sen!2smm" width="70%" height="400px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
     </div>
<!-- contact -->
<!-- footer -->
<section class="section-footer">
<div class="container-footer">
   <div class="footer-me">
    <h4>About me</h4>
    <p>Lorem ipsum dolor sit amet consectetur <br>adipisicing elit. Earum aperiam <br>maiores corporis beatae consequuntur nam.<br>
        Lorem ipsum dolor sit amet consectetur <br>adipisicing elit. Earum aperiam <br>maiores corporis beatae consequuntur nam.<br></p>
   </div>
   <div class="footer-location">
    <h4>Location me</h4>
    <i class="bi bi-geo-alt-fill bg-danger"></i><span class="social">No.21, Htuu pr Yone 5-street<br><span class="town">Tarkayta Township,Yangon!</span></span><br><br>
    <i class="bi bi-phone-fill bg-primary"></i><span class="social">+959454238579</span><br><br>
    <i class="bi bi-chat-dots-fill bg-success"></i><span class="social">contact me message</span>
   </div>
   <div class="contact-us">
    <h4>Contact us</h4>
     <div class="logo-1">
        <i class="bi bi-facebook bg-primary"></i><span class="social">Facebook</span><br></br>
        <i class="bi bi-google bg-warning"></i><span class="social">Google</span><br></br>
        <i class="bi bi-instagram bg-secondary"></i><span class="social">Instagram</span><br></br>
        <i class="bi bi-youtube bg-danger"></i><span class="social">Youtube</span>
     </div>
     
   </div>
</div>

<div class="container-sign">
    <div class="sign">
        <p><span class="footer-text">@2022 </span>Many Project Create,All Right Reverse</p>
    </div>
    <div class="footer-image">
        <img src="../image/photo.png" alt="">
    </div>
    <div class="team-service">
        <p>Team of service,Pravicy Policy. Site map<span>
            <select id="language" name="language">
                <option value="english">English</option>
                <option value="myanmar">Myanmar</option>
            </select>
            </span>
        </p>
        <div class="present-text">
            <p>Present by<span class="footer-text">  <i class="bi bi-google"></i>oogle</span> translation</p>
        </div>
          <div class="click">
            <a href="#"><i class="bi bi-arrow-up-circle-fill"></i></a>
          </div>
          
    </div>
</div>
</section>

    <!-- Vue js -->
    <script src="js/vue.js"></script>
   
    <script>
    new Vue({
        el: "#app",
        data:{
            name:"",
            email:"",
            address:"",
            password:"",
            comfirm_password:"",
        }

    })
    </script>
    <!-- Type js -->
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script>
     var typed = new Typed('.auto-input', {
        strings: ["Nay Aung","Web Developer","Backend Developer","Frontend Developer"],
        typeSpeed:100,
        backSpeed:100,
        loop:true
     });
    </script>
    <!-- slider js -->
    <script src="./js/slider.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>